[submodule "crates/mattpocock"]
	path = crates/mattpocock
	url = https://github.com/mattpocock/skills.git
[submodule "crates/gstack"]
	path = crates/gstack
	url = https://github.com/garrytan/gstack.git
